@charset "UTF-8";
.btnAnimation:hover {
  cursor: pointer;
  border-radius: 40px;
}

.contenedor {
  width: 94%;
  max-width: 1300px;
  margin: auto;
  overflow: hidden; /*TODO: con esta propiedad hace que todo el contenido sobrante de la caj donde se encuentra, no se vea ni sobrepase su contenedor.*/
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.contenedor {
  width: 94%;
  max-width: 1300px;
  margin: auto;
  overflow: hidden; /*TODO: con esta propiedad hace que todo el contenido sobrante de la caj donde se encuentra, no se vea ni sobrepase su contenedor.*/
}

header {
  /* display: block; */
  background: rgb(226, 226, 226);
  background: -moz-linear-gradient(top, rgb(226, 226, 226) 0%, rgb(219, 219, 219) 50%, rgb(209, 209, 209) 51%, rgb(254, 254, 254) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(226, 226, 226) 0%, rgb(219, 219, 219) 50%, rgb(209, 209, 209) 51%, rgb(254, 254, 254) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(226, 226, 226) 0%, rgb(219, 219, 219) 50%, rgb(209, 209, 209) 51%, rgb(254, 254, 254) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e2e2e2", endColorstr="#fefefe",GradientType=0 ); /* IE6-9 */
  max-height: auto;
  margin-bottom: 30px;
}
header .menu a {
  margin: 0px 20px;
  padding-bottom: 6px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-size: 20px;
  font-weight: bold;
  color: #18453b;
}
header img.logo {
  margin: 20px;
  width: 150px;
  border-radius: 50%;
}
header ul {
  list-style-type: none;
  margin: 3em auto;
  text-align: center;
}
header ul li {
  list-style: none;
  text-decoration: none;
}
header ul a:hover {
  border-bottom: 1px solid #18453b;
}

section.slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  background: #f2f2f2;
}
section.slider h1 {
  color: #18453b;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 800;
}
section.slider .slide img {
  width: 100%;
}

.articulo section {
  margin-bottom: 30px;
}
.articulo h2 {
  margin-bottom: 40px;
}
.articulo .article1 {
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 30px;
  text-align: justify;
}

.main .trabajos {
  background: #f2f2f2;
  padding: 60px 0px;
}
.main .trabajos .contenedor {
  overflow: hidden;
}
.main .trabajos .titulo {
  font-size: 34px;
  line-height: 34px;
  margin: 20px 0 40px 0;
  color: #18453b;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}
.main .trabajos .contenedor-trabajos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .trabajos .contenedor-trabajos .trabajo {
  width: 23%;
}
.main .trabajos .contenedor-trabajos .trabajo .thumb {
  width: 100%;
  margin-bottom: 10px;
}
.main .trabajos .contenedor-trabajos .trabajo .thumb img {
  width: 100%;
  vertical-align: top;
  border-radius: 4px;
  border: 2px solid transparent;
}
.main .trabajos .contenedor-trabajos .trabajo .thumb img:hover {
  border: 2px solid grey;
  opacity: 0.9;
}
.main .trabajos .contenedor-trabajos .trabajo .descripcion {
  text-align: center;
}
.main .trabajos .contenedor-trabajos .trabajo .nombre {
  font-weight: 800;
  color: #3895ea;
  margin-bottom: 10px;
}
.main .trabajos .contenedor-trabajos .trabajo .categoria {
  font-size: 14px;
  color: #636363;
}

/* TODO: NUESTROS CLIENTES */
.mainClient {
  background-color: #fff;
  margin-bottom: 30px;
}
.mainClient .titulo {
  font-size: 34px;
  line-height: 34px;
  margin: 20px 0 40px 0;
  color: #18453b;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}
.mainClient .articleClient {
  margin-bottom: 20px;
  font-size: 1.2em;
  line-height: 25px;
  text-align: justify;
}
.mainClient .clientDescript {
  font-size: 0.9em;
  padding: 10px 6px;
  text-align: justify;
}
.mainClient .btnWork .botonClient {
  display: flex;
  margin: auto;
  background: #3895ea;
  color: #fff;
  border: none;
  padding: 10px 40px;
  width: 300px;
  cursor: pointer;
}

/* <!-- TODO: NOSOTROS--> */
.our {
  background: #f2f2f2;
  width: 100%;
}
.our .titulo {
  font-size: 34px;
  line-height: 34px;
  margin: 20px 0 40px 0;
  color: #18453b;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}
.our .slide img {
  height: auto;
  margin-bottom: 30px;
}
.our .contenedor article {
  margin: 0 10px 40px 10px;
  height: auto;
  overflow: hidden;
}
.our .contenedor article h3 {
  text-decoration: underline;
  margin-bottom: 20px;
}
.our .contenedor article p {
  font-weight: 300;
  text-align: justify;
}
.our .contenedor article p span {
  font-weight: 800;
}
.our .contenedor article .btnReadMore1 {
  background: #3895ea;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 2px;
  width: 120px;
  cursor: pointer;
}

footer .contacto {
  background: #fff;
  margin-top: 20px;
}
footer .contacto p {
  line-height: 30px;
  margin-bottom: 20px;
}
footer .contacto .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .contacto .formulario input[type=text],
footer .contacto .formulario input[type=email],
footer .contacto .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
}
footer .contacto .formulario input[type=text],
footer .contacto .formulario input[type=email] {
  width: 49%;
  margin-bottom: 15px;
}
footer .contacto .formulario textarea {
  height: 100px;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 200px;
  margin-bottom: 15px;
}
footer .contacto .formulario .boton {
  margin: auto;
  background: #3895ea;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer;
}

footer .row .titulo {
  font-size: 34px;
  line-height: 34px;
  margin: 20px 0 40px 0;
  color: #18453b;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

/*TODO FOOTER ALTERNATIVO*/
footer .redes-sociales2 {
  background: #1e2b38;
  padding: 30px 0px;
  color: #fff;
}
footer .redes-sociales2 h4 {
  text-decoration: underline;
  margin-bottom: 24px;
}
footer .redes-sociales2 .detalle p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 6px;
}
footer .redes-sociales2 .redes2 a {
  color: #fff;
  text-align: center;
  width: 60px;
  padding: 4px 0;
  border-radius: 3px;
  font-size: 20px;
  margin: 0 20px;
}
footer .redes-sociales2 .contenedor .twitter:hover {
  background: #55acee;
}
footer .redes-sociales2 .contenedor .facebook:hover {
  background: #3b5998;
}
footer .redes-sociales2 .contenedor .youtube:hover {
  background: #cd201f;
}
footer .redes-sociales2 .contenedor .github:hover {
  background: #666666;
}
footer .redes-sociales2 .instagram:hover {
  background: #5851db;
}

/*BOTON FLOTANTE*/
.btn-flotante {
  font-size: 16px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #ffffff; /* Color del texto */
  border-radius: 50%; /* Borde del boton */
  background-color: #55acee; /* Color de fondo */
  padding: 22px 30px; /* Relleno del boton */
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.btn-flotante:hover {
  background-color: #5482e7; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
@media screen and (max-width: 800px) {
  header .menu {
    text-align: center;
  }
  .main .trabajos .contenedor-trabajos .trabajo {
    width: 46%;
  }
  .our .contenedor article p {
    font-weight: 260;
    font-size: 12px;
  }
  .our .contenedor article p span {
    font-weight: 700;
  }
}
@media screen and (max-width: 500px) {
  header .contenedor-texto .texto .nombre {
    font-size: 35px;
  }
  .our .contenedor article p {
    font-weight: 200;
    font-size: 12px;
  }
  .our .contenedor article p span {
    font-weight: 600;
  }
  header .contenedor-texto .texto .profesion {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
